@media(min-width:320px){
    .card-row{
        flex-wrap: no wrap;
    }
    .card-col{
        width:80%;
        padding:10px;
    }
    
}

@media(max-width:960px){
    .card-row{
        flex-wrap:no wrap;
    }
    .card-col{
        width:50%;
        padding:10px;
    }
}

@media(min-width:1000px){
    .card-row{
        display:flex;
        flex-wrap:wrap;
    }
    .card-col{
        width:33.33%;
        padding:10px;
    }
}

